@import "tailwindcss";
@import "tw-animate-css";

@custom-variant dark (&:is(.dark *));

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
  --color-sidebar-ring: var(--sidebar-ring);
  --color-sidebar-border: var(--sidebar-border);
  --color-sidebar-accent-foreground: var(--sidebar-accent-foreground);
  --color-sidebar-accent: var(--sidebar-accent);
  --color-sidebar-primary-foreground: var(--sidebar-primary-foreground);
  --color-sidebar-primary: var(--sidebar-primary);
  --color-sidebar-foreground: var(--sidebar-foreground);
  --color-sidebar: var(--sidebar);
  --color-chart-5: var(--chart-5);
  --color-chart-4: var(--chart-4);
  --color-chart-3: var(--chart-3);
  --color-chart-2: var(--chart-2);
  --color-chart-1: var(--chart-1);
  --color-ring: var(--ring);
  --color-input: var(--input);
  --color-border: var(--border);
  --color-destructive: var(--destructive);
  --color-accent-foreground: var(--accent-foreground);
  --color-accent: var(--accent);
  --color-muted-foreground: var(--muted-foreground);
  --color-muted: var(--muted);
  --color-secondary-foreground: var(--secondary-foreground);
  --color-secondary: var(--secondary);
  --color-primary-foreground: var(--primary-foreground);
  --color-primary: var(--primary);
  --color-popover-foreground: var(--popover-foreground);
  --color-popover: var(--popover);
  --color-card-foreground: var(--card-foreground);
  --color-card: var(--card);
  --radius-sm: calc(var(--radius) - 4px);
  --radius-md: calc(var(--radius) - 2px);
  --radius-lg: var(--radius);
  --radius-xl: calc(var(--radius) + 4px);
}

:root {
  --radius: 0.625rem;
  /* 5-color palette */
  --light-cyan-100: #095456;
  --light-cyan-200: #11a7ad;
  --light-cyan-300: #32e5eb;
  --light-cyan-400: #88f0f3;
  --light-cyan-500: #e0fbfc;
  --light-cyan-600: #e5fcfc;
  --light-cyan-700: #ecfcfd;
  --light-cyan-800: #f2fdfe;
  --light-cyan-900: #f9fefe;
  --light-blue-100: #1b363a;
  --light-blue-200: #356d74;
  --light-blue-300: #50a3ae;
  --light-blue-400: #8ac2c9;
  --light-blue-500: #c2dfe3;
  --light-blue-600: #cfe6e9;
  --light-blue-700: #dbecef;
  --light-blue-800: #e7f3f4;
  --light-blue-900: #f3f9fa;
  --cadet-gray-100: #1b252a;
  --cadet-gray-200: #364a55;
  --cadet-gray-300: #516f7f;
  --cadet-gray-400: #7192a4;
  --cadet-gray-500: #9db4c0;
  --cadet-gray-600: #afc2cc;
  --cadet-gray-700: #c3d1d9;
  --cadet-gray-800: #d7e1e6;
  --cadet-gray-900: #ebf0f2;
  --paynes-gray-100: #131617;
  --paynes-gray-200: #252b2e;
  --paynes-gray-300: #384146;
  --paynes-gray-400: #4a565d;
  --paynes-gray-500: #5c6b73;
  --paynes-gray-600: #798b94;
  --paynes-gray-700: #9ba8af;
  --paynes-gray-800: #bcc5c9;
  --paynes-gray-900: #dee2e4;
  --gunmetal-100: #070a0b;
  --gunmetal-200: #0f1416;
  --gunmetal-300: #161e21;
  --gunmetal-400: #1d282c;
  --gunmetal-500: #253237;
  --gunmetal-600: #465f69;
  --gunmetal-700: #688c9b;
  --gunmetal-800: #9bb3bc;
  --gunmetal-900: #cdd9de;
  /* Light theme mapping */
  --background: var(--light-cyan-900);
  --foreground: oklch(0.145 0 0);
  --card: var(--light-cyan-900);
  --card-foreground: oklch(0.145 0 0);
  --popover: var(--light-cyan-900);
  --popover-foreground: oklch(0.145 0 0);
  --primary: var(--light-blue-400);
  --primary-foreground: oklch(0.985 0 0);
  --secondary: var(--light-blue-800);
  --secondary-foreground: oklch(0.205 0 0);
  --muted: var(--light-cyan-800);
  --muted-foreground: oklch(0.556 0 0);
  --accent: var(--light-blue-800);
  --accent-foreground: oklch(0.205 0 0);
  --destructive: oklch(0.577 0.245 27.325);
  --border: var(--light-blue-700);
  --input: var(--light-blue-700);
  --ring: var(--light-blue-400);
  --chart-1: var(--light-blue-300);
  --chart-2: var(--cadet-gray-500);
  --chart-3: var(--light-cyan-300);
  --chart-4: var(--paynes-gray-500);
  --chart-5: var(--gunmetal-700);
  --sidebar: var(--light-cyan-900);
  --sidebar-foreground: oklch(0.145 0 0);
  --sidebar-primary: var(--light-blue-400);
  --sidebar-primary-foreground: oklch(0.985 0 0);
  --sidebar-accent: var(--light-blue-800);
  --sidebar-accent-foreground: oklch(0.205 0 0);
  --sidebar-border: var(--light-blue-700);
  --sidebar-ring: var(--light-blue-400);
}

.neutral {
  --background: var(--paynes-gray-400);
  --foreground: var(--light-cyan-900);
  --card: var(--paynes-gray-400);
  --card-foreground: var(--light-cyan-900);
  --popover: var(--paynes-gray-400);
  --popover-foreground: var(--light-cyan-900);
  --primary: var(--light-blue-500);
  --primary-foreground: var(--gunmetal-100);
  --secondary: var(--cadet-gray-600);
  --secondary-foreground: var(--gunmetal-100);
  --muted: var(--paynes-gray-300);
  --muted-foreground: var(--light-cyan-900);
  --accent: var(--cadet-gray-700);
  --accent-foreground: var(--gunmetal-100);
  --destructive: oklch(0.704 0.191 22.216);
  --border: var(--cadet-gray-700);
  --input: var(--cadet-gray-700);
  --ring: var(--light-blue-400);
  --chart-1: var(--light-blue-300);
  --chart-2: var(--cadet-gray-500);
  --chart-3: var(--light-cyan-300);
  --chart-4: var(--paynes-gray-500);
  --chart-5: var(--gunmetal-700);
  --sidebar: var(--paynes-gray-400);
  --sidebar-foreground: var(--light-cyan-900);
  --sidebar-primary: var(--light-blue-500);
  --sidebar-primary-foreground: var(--gunmetal-100);
  --sidebar-accent: var(--cadet-gray-600);
  --sidebar-accent-foreground: var(--gunmetal-100);
  --sidebar-border: var(--cadet-gray-700);
  --sidebar-ring: var(--light-blue-400);
}

.dark {
  --background: var(--gunmetal-500);
  --foreground: var(--light-cyan-900);
  --card: var(--gunmetal-400);
  --card-foreground: var(--light-cyan-900);
  --popover: var(--gunmetal-400);
  --popover-foreground: var(--light-cyan-900);
  --primary: var(--light-cyan-400);
  --primary-foreground: var(--gunmetal-100);
  --secondary: var(--paynes-gray-400);
  --secondary-foreground: var(--light-cyan-900);
  --muted: var(--gunmetal-400);
  --muted-foreground: var(--cadet-gray-800);
  --accent: var(--paynes-gray-300);
  --accent-foreground: var(--light-cyan-900);
  --destructive: oklch(0.704 0.191 22.216);
  --border: var(--paynes-gray-300);
  --input: var(--paynes-gray-300);
  --ring: var(--light-cyan-300);
  --chart-1: var(--light-blue-300);
  --chart-2: var(--cadet-gray-500);
  --chart-3: var(--light-cyan-300);
  --chart-4: var(--paynes-gray-500);
  --chart-5: var(--gunmetal-700);
  --sidebar: var(--gunmetal-400);
  --sidebar-foreground: var(--light-cyan-900);
  --sidebar-primary: var(--light-cyan-400);
  --sidebar-primary-foreground: var(--gunmetal-100);
  --sidebar-accent: var(--paynes-gray-300);
  --sidebar-accent-foreground: var(--light-cyan-900);
  --sidebar-border: var(--paynes-gray-300);
  --sidebar-ring: var(--light-cyan-300);
}

@layer base {
  * {
    @apply border-border outline-ring/50;
  }
  body {
    @apply bg-background text-foreground;
  }
}
